apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "4"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"brain-tasks-app"},"name":"brain-tasks-app","namespace":"default"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"brain-tasks-app"}},"template":{"metadata":{"labels":{"app":"brain-tasks-app"}},"spec":{"containers":[{"env":[{"name":"NODE_ENV","value":"production"}],"image":"126685708527.dkr.ecr.eu-north-1.amazonaws.com/brain-tasks-app:v1","name":"brain-tasks-container","ports":[{"containerPort":80}],"resources":{"limits":{"cpu":"200m","memory":"256Mi"},"requests":{"cpu":"100m","memory":"128Mi"}}}]}}}}
  creationTimestamp: "2025-12-02T05:25:48Z"
  generation: 4
  labels:
    app: brain-tasks-app
  name: brain-tasks-app
  namespace: default
  resourceVersion: "6220"
  uid: 849aade5-42b8-439e-8e5f-4cd137da9b5d
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: brain-tasks-app
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-12-02T05:44:53Z"
      creationTimestamp: null
      labels:
        app: brain-tasks-app
    spec:
      containers:
      - env:
        - name: NODE_ENV
          value: production
        image: 126685708527.dkr.ecr.eu-north-1.amazonaws.com/brain-tasks-app:v1
        imagePullPolicy: Always
        name: brain-tasks-container
        ports:
        - containerPort: 80
          protocol: TCP
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 128Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 2
  conditions:
  - lastTransitionTime: "2025-12-02T05:28:39Z"
    lastUpdateTime: "2025-12-02T05:28:39Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-12-02T05:25:49Z"
    lastUpdateTime: "2025-12-02T05:44:56Z"
    message: ReplicaSet "brain-tasks-app-788cc6bb4" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 4
  readyReplicas: 2
  replicas: 2
  updatedReplicas: 2
